## **public.ais_event**
stores all events, including meta data on dwt, source, laden, laden_confidence

In [200]:
import pandas as pd
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://ais:aispass@localhost:5432/ais"
engine = create_engine(DB_URL)

# If you just want tabular fields (and geometry as readable text/GeoJSON):
event_sql = text("""
    SELECT *
    FROM public.ais_event
""")

df_event = pd.read_sql(event_sql, engine)
df_event

,ts,vessel_uid,event,area_id,area_kind,gate_end,lat,lon,meta
0,2025-10-07 17:08:59.999195+00:00,mtid:124218,approach_enter,Arthur - approach // port,approach,None,29.413189,-93.609268,"{'dwt': 105511, 'src': 'terrestrial', 'laden':..."
1,2025-10-07 17:09:59.999195+00:00,mtid:144314,approach_enter,Corpus Christi - approach // port,approach,None,27.793957,-96.804344,"{'dwt': 112827, 'src': 'terrestrial', 'laden':..."
2,2025-10-07 17:10:59.999195+00:00,mtid:1507574,port_enter,Arthur - core // port,port,None,30.071747,-94.056694,"{'dwt': 51525, 'src': 'terrestrial', 'port_flo..."
3,2025-10-07 17:10:59.999195+00:00,mtid:1507574,approach_enter,Arthur - approach // port,approach,None,30.071747,-94.056694,"{'dwt': 51525, 'src': 'terrestrial', 'laden': ..."
4,2025-10-07 17:12:59.999195+00:00,mtid:201173,approach_enter,Corpus Christi - approach // port,approach,None,27.602236,-96.667198,"{'dwt': 320500, 'src': 'terrestrial', 'laden':..."
...,...,...,...,...,...,...,...,...,...
6699,2025-10-14 14:14:14.499096+00:00,mtid:9249242,port_enter,Amsterdam - core // port,port,None,52.448475,4.686562,"{'dwt': 17952, 'src': 'terrestrial', 'port_flo..."
6700,2025-10-14 14:13:17.024458+00:00,mtid:4025098,lane_enter,Gibraltar - corridor // chokepoint,lane,None,35.909763,-5.890039,"{'dwt': 53748, 'src': 'terrestrial', 'laden': ..."
6701,2025-10-14 14:14:17.024458+00:00,mtid:6498921,lane_exit,Gibraltar - corridor // chokepoint,lane,None,35.916512,-5.291472,"{'dwt': 111963, 'src': 'terrestrial', 'laden':..."
6702,2025-10-14 14:16:27.116028+00:00,mtid:118764,approach_exit,Amsterdam - approach // port,approach,None,52.604660,4.084888,"{'dwt': 11276, 'src': 'terrestrial', 'laden': ..."
6703,2025-10-14 14:16:41.626037+00:00,mtid:7180361,approach_enter,Basrah // port,approach,None,28.922243,49.450783,"{'dwt': 299999, 'src': 'terrestrial', 'laden':..."

## **public.ais_fix**
stores all the fixes from the collector including area inheritance and relevant details

In [201]:
ais_fix_sql = """
    SELECT ts, elapsed, shipname, shiptype, vessel_uid, src, lat, lon, sog, cog, heading, area_id_core,
       in_core, area_id_approach, in_approach, lane_id, in_lane, 
       gate_id, gate_end
    FROM public.ais_fix
    ORDER BY ts
"""
df_fixes = pd.read_sql(ais_fix_sql, engine)
df_fixes

,ts,elapsed,shipname,shiptype,vessel_uid,src,lat,lon,sog,cog,heading,area_id_core,in_core,area_id_approach,in_approach,lane_id,in_lane,gate_id,gate_end
0,2025-10-07 05:57:02.879924+00:00,687,LNG BONNY II,8,mtid:3707302,terrestrial,-35.714108,19.863949,14.5,107.0,108.0,None,False,None,False,Cape of Good Hope - corridor // lane,True,None,None
1,2025-10-07 06:29:11.523129+00:00,655,CHEMICAL VOYAGER,8,mtid:369217,terrestrial,36.410862,-48.672447,11.8,265.0,263.0,None,False,None,False,Mid-Atlantic - corridor // lane,True,None,None
2,2025-10-07 07:15:08.000925+00:00,615,CORAL SIDEREA,8,mtid:279579,terrestrial,31.410563,32.203381,0.0,118.0,329.0,None,False,None,False,None,False,None,None
3,2025-10-07 08:47:14.608768+00:00,517,LAN,8,mtid:6610246,terrestrial,-34.842621,26.379391,16.2,76.0,75.0,None,False,None,False,None,False,Cape - gate_east // lane,east
4,2025-10-07 09:30:08.000925+00:00,480,LNG ENDURANCE,8,mtid:6819787,terrestrial,29.526373,32.427326,0.0,338.0,26.0,None,False,None,False,None,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220213,2025-10-14 14:20:02.585668+00:00,1,C. GRACE,8,mtid:6589228,terrestrial,26.169598,55.451614,12.0,70.0,72.0,None,False,None,False,None,False,None,None
220214,2025-10-14 14:20:02.585668+00:00,1,AL WAJBAH,8,mtid:664853,terrestrial,26.621969,56.428940,9.3,255.0,255.0,None,False,None,False,Hormuz - corridor // chokepoint,True,None,None
220215,2025-10-14 14:20:02.585668+00:00,1,LIATRIS,8,mtid:6730396,terrestrial,25.907982,55.599480,13.0,49.0,50.0,None,False,None,False,None,False,None,None
220216,2025-10-14 14:20:02.585668+00:00,1,NICHOLA,8,mtid:711460,terrestrial,26.325441,55.908897,10.1,79.0,78.0,None,False,None,False,None,False,Hormuz - gate_west // chokepoint,west
220217,2025-10-14 14:20:02.585668+00:00,1,VIRGO,8,mtid:711739,terrestrial,26.556316,56.473934,10.1,87.0,85.0,None,False,None,False,Hormuz - corridor // chokepoint,True,None,None

## **public.vessel_dwell_session**
stores all vessel dwell periods in areas

In [202]:
ais_dwell_sql = """
    SELECT * 
    FROM public.vessel_dwell_session
"""
df_dwells = pd.read_sql(ais_dwell_sql, engine)
df_dwells[df_dwells.is_open == False]

,vessel_uid,area_id,area_kind,start_ts,end_ts,duration_s,is_open,samples,first_lat,first_lon,last_lat,last_lon,source
2,mtid:289561,Houston - core // port,port,2025-10-07 17:07:59.999195+00:00,2025-10-09 17:17:01.230848+00:00,173341.0,False,2,29.729620,-95.021973,29.342394,-94.759193,event
4,mtid:5893325,Corpus Christi - core // port,port,2025-10-07 17:13:59.999195+00:00,2025-10-09 21:07:30.474526+00:00,186810.0,False,2,27.820881,-97.184868,27.834454,-97.040070,event
6,mtid:713814,Arthur - approach // port,approach,2025-10-07 17:02:59.999195+00:00,2025-10-13 00:29:42.741439+00:00,458803.0,False,2,29.214666,-93.718903,28.972528,-93.676384,event
8,mtid:5277907,Houston - core // port,port,2025-10-07 17:12:59.999195+00:00,2025-10-10 21:15:41.748857+00:00,273762.0,False,2,29.740673,-95.163124,29.342434,-94.763023,event
10,mtid:213831,Arthur - core // port,port,2025-10-07 17:11:59.999195+00:00,2025-10-10 07:24:01.216637+00:00,223921.0,False,2,29.988817,-93.907616,29.694683,-93.841652,event
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,mtid:8962830,Antwerp - approach // port,approach,2025-10-08 16:36:05.837210+00:00,2025-10-14 13:18:09.575354+00:00,506524.0,False,2,51.350048,3.880452,51.237862,4.502052,event
3889,mtid:5689239,Rotterdam - approach // port,approach,2025-10-14 09:17:46.611213+00:00,2025-10-14 13:22:23.033335+00:00,14676.0,False,2,52.056808,3.665570,51.883533,4.450376,event
3898,mtid:9688684,Fujairah - approach // port,approach,2025-10-14 13:57:17.244281+00:00,2025-10-14 13:58:19.935042+00:00,63.0,False,2,25.410120,56.434132,25.415899,56.437988,event
3902,mtid:5639507,Hormuz - corridor // chokepoint,lane,2025-10-14 09:47:45.521508+00:00,2025-10-14 14:14:05.194259+00:00,15980.0,False,2,26.515705,56.652454,26.250347,55.934387,event
3906,mtid:118764,Amsterdam - approach // port,approach,2025-10-07 17:27:39.968337+00:00,2025-10-14 14:16:27.116028+00:00,593327.0,False,2,52.528999,4.227334,52.604660,4.084888,event

## **public.ca_port_lifts**
for every day, stores the summed dwt for laden departures and arrivals for each port

In [204]:
port_lifts_sql = """
    SELECT
        day,
        port_id,
        port_name,
        flow_role,
        depart_dwt_laden,
        arrive_dwt_laden
    FROM public.ca_port_lifts_daily
    WHERE day >= now() - interval '14 days'
    ORDER BY day, port_id
"""

df_lifts = pd.read_sql(port_lifts_sql, engine)
df_lifts

,day,port_id,port_name,flow_role,depart_dwt_laden,arrive_dwt_laden
0,2025-10-07 00:00:00+00:00,Amsterdam - core // port,Amsterdam - core,import,NaN,428224.0
1,2025-10-07 00:00:00+00:00,Antwerp - core // port,Antwerp - core,import,NaN,180378.0
2,2025-10-07 00:00:00+00:00,Arthur - core // port,Arthur - core,export,175532.0,NaN
3,2025-10-07 00:00:00+00:00,Corpus Christi - core // port,Corpus Christi - core,export,119900.0,NaN
4,2025-10-07 00:00:00+00:00,Houston - core // port,Houston - core,export,332153.0,NaN
...,...,...,...,...,...,...
66,2025-10-14 00:00:00+00:00,Corpus Christi - core // port,Corpus Christi - core,export,143382.0,NaN
67,2025-10-14 00:00:00+00:00,Houston - core // port,Houston - core,export,338853.0,NaN
68,2025-10-14 00:00:00+00:00,Ras Tanura - core // port,Ras Tanura - core,export,NaN,NaN
69,2025-10-14 00:00:00+00:00,Rotterdam - core // port,Rotterdam - core,import,NaN,153247.0
70,2025-10-14 00:00:00+00:00,Wilhelmshaven - core // port,Wilhelmshaven - core,import,NaN,165811.0