In [226]:
import pandas as pd
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://ais:aispass@localhost:5432/ais"
engine = create_engine(DB_URL)

## **public.ais_fix**
stores all the fixes from the collector including area inheritance and relevant details

In [ ]:
ais_fix_sql = """
    SELECT ts, elapsed, shipname, shiptype, vessel_uid, src, lat, lon, sog, cog, heading, area_id_core,
       in_core, area_id_approach, in_approach, lane_id, in_lane, 
       gate_id, gate_end
    FROM public.ais_fix
    ORDER BY ts
"""
df_fixes = pd.read_sql(ais_fix_sql, engine)
df_fixes

,ts,elapsed,shipname,shiptype,vessel_uid,src,lat,lon,sog,cog,heading,area_id_core,in_core,area_id_approach,in_approach,lane_id,in_lane,gate_id,gate_end
0,2025-10-07 05:57:02.879924+00:00,687,LNG BONNY II,8,mtid:3707302,terrestrial,-35.714108,19.863949,14.5,107.0,108.0,None,False,None,False,Cape of Good Hope - corridor // lane,True,None,None
1,2025-10-07 06:29:11.523129+00:00,655,CHEMICAL VOYAGER,8,mtid:369217,terrestrial,36.410862,-48.672447,11.8,265.0,263.0,None,False,None,False,Mid-Atlantic - corridor // lane,True,None,None
2,2025-10-07 07:15:08.000925+00:00,615,CORAL SIDEREA,8,mtid:279579,terrestrial,31.410563,32.203381,0.0,118.0,329.0,None,False,None,False,None,False,None,None
3,2025-10-07 08:47:14.608768+00:00,517,LAN,8,mtid:6610246,terrestrial,-34.842621,26.379391,16.2,76.0,75.0,None,False,None,False,None,False,Cape - gate_east // lane,east
4,2025-10-07 09:30:08.000925+00:00,480,LNG ENDURANCE,8,mtid:6819787,terrestrial,29.526373,32.427326,0.0,338.0,26.0,None,False,None,False,None,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220213,2025-10-14 14:20:02.585668+00:00,1,C. GRACE,8,mtid:6589228,terrestrial,26.169598,55.451614,12.0,70.0,72.0,None,False,None,False,None,False,None,None
220214,2025-10-14 14:20:02.585668+00:00,1,AL WAJBAH,8,mtid:664853,terrestrial,26.621969,56.428940,9.3,255.0,255.0,None,False,None,False,Hormuz - corridor // chokepoint,True,None,None
220215,2025-10-14 14:20:02.585668+00:00,1,LIATRIS,8,mtid:6730396,terrestrial,25.907982,55.599480,13.0,49.0,50.0,None,False,None,False,None,False,None,None
220216,2025-10-14 14:20:02.585668+00:00,1,NICHOLA,8,mtid:711460,terrestrial,26.325441,55.908897,10.1,79.0,78.0,None,False,None,False,None,False,Hormuz - gate_west // chokepoint,west
220217,2025-10-14 14:20:02.585668+00:00,1,VIRGO,8,mtid:711739,terrestrial,26.556316,56.473934,10.1,87.0,85.0,None,False,None,False,Hormuz - corridor // chokepoint,True,None,None

## **public.ais_event**
stores all events, including meta data on dwt, source, laden, laden_confidence

In [244]:
event_sql = text("""
    SELECT *
    FROM public.ais_event
""")

df_event = pd.read_sql(event_sql, engine)
df_event #['meta'].map(lambda x: x.get('laden')).value_counts()

,ts,vessel_uid,event,area_id,area_kind,gate_end,lat,lon,meta
0,2025-10-07 17:08:59.999195+00:00,mtid:124218,approach_enter,Arthur - approach // port,approach,None,29.413189,-93.609268,"{'dwt': 105511, 'src': 'terrestrial', 'laden':..."
1,2025-10-07 17:09:59.999195+00:00,mtid:144314,approach_enter,Corpus Christi - approach // port,approach,None,27.793957,-96.804344,"{'dwt': 112827, 'src': 'terrestrial', 'laden':..."
2,2025-10-07 17:10:59.999195+00:00,mtid:1507574,port_enter,Arthur - core // port,port,None,30.071747,-94.056694,"{'dwt': 51525, 'src': 'terrestrial', 'port_flo..."
3,2025-10-07 17:10:59.999195+00:00,mtid:1507574,approach_enter,Arthur - approach // port,approach,None,30.071747,-94.056694,"{'dwt': 51525, 'src': 'terrestrial', 'laden': ..."
4,2025-10-07 17:12:59.999195+00:00,mtid:201173,approach_enter,Corpus Christi - approach // port,approach,None,27.602236,-96.667198,"{'dwt': 320500, 'src': 'terrestrial', 'laden':..."
...,...,...,...,...,...,...,...,...,...
6947,2025-10-14 20:46:14.864259+00:00,mtid:5106900,approach_exit,Fujairah - approach // port,approach,None,25.308464,56.782745,"{'dwt': 301123, 'src': 'terrestrial', 'laden':..."
6948,2025-10-14 20:44:14.864259+00:00,mtid:715903,lane_enter,Hormuz - corridor // chokepoint,lane,None,26.551128,56.662552,"{'dwt': 159152, 'src': 'terrestrial', 'laden':..."
6949,2025-10-14 20:46:14.864259+00:00,mtid:731057,approach_enter,Ras Tanura - approach // port,approach,None,27.110224,50.470673,"{'dwt': 107123, 'src': 'terrestrial', 'laden':..."
6950,2025-10-14 20:45:20.296757+00:00,mtid:6759875,lane_exit,Cape of Good Hope - corridor // lane,lane,east,-34.538067,25.934498,"{'dwt': 89730, 'src': 'terrestrial', 'laden': ..."
6951,2025-10-14 20:44:53.377551+00:00,mtid:373226,approach_enter,LOOP - approach // port,approach,None,28.591614,-89.644310,"{'dwt': 19355, 'src': 'terrestrial', 'laden': ..."

## **public.vessel_dwell_session**
stores all vessel dwell periods in areas

In [202]:
ais_dwell_sql = """
    SELECT * 
    FROM public.vessel_dwell_session
"""
df_dwells = pd.read_sql(ais_dwell_sql, engine)
df_dwells[df_dwells.is_open == False]

,vessel_uid,area_id,area_kind,start_ts,end_ts,duration_s,is_open,samples,first_lat,first_lon,last_lat,last_lon,source
2,mtid:289561,Houston - core // port,port,2025-10-07 17:07:59.999195+00:00,2025-10-09 17:17:01.230848+00:00,173341.0,False,2,29.729620,-95.021973,29.342394,-94.759193,event
4,mtid:5893325,Corpus Christi - core // port,port,2025-10-07 17:13:59.999195+00:00,2025-10-09 21:07:30.474526+00:00,186810.0,False,2,27.820881,-97.184868,27.834454,-97.040070,event
6,mtid:713814,Arthur - approach // port,approach,2025-10-07 17:02:59.999195+00:00,2025-10-13 00:29:42.741439+00:00,458803.0,False,2,29.214666,-93.718903,28.972528,-93.676384,event
8,mtid:5277907,Houston - core // port,port,2025-10-07 17:12:59.999195+00:00,2025-10-10 21:15:41.748857+00:00,273762.0,False,2,29.740673,-95.163124,29.342434,-94.763023,event
10,mtid:213831,Arthur - core // port,port,2025-10-07 17:11:59.999195+00:00,2025-10-10 07:24:01.216637+00:00,223921.0,False,2,29.988817,-93.907616,29.694683,-93.841652,event
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3887,mtid:8962830,Antwerp - approach // port,approach,2025-10-08 16:36:05.837210+00:00,2025-10-14 13:18:09.575354+00:00,506524.0,False,2,51.350048,3.880452,51.237862,4.502052,event
3889,mtid:5689239,Rotterdam - approach // port,approach,2025-10-14 09:17:46.611213+00:00,2025-10-14 13:22:23.033335+00:00,14676.0,False,2,52.056808,3.665570,51.883533,4.450376,event
3898,mtid:9688684,Fujairah - approach // port,approach,2025-10-14 13:57:17.244281+00:00,2025-10-14 13:58:19.935042+00:00,63.0,False,2,25.410120,56.434132,25.415899,56.437988,event
3902,mtid:5639507,Hormuz - corridor // chokepoint,lane,2025-10-14 09:47:45.521508+00:00,2025-10-14 14:14:05.194259+00:00,15980.0,False,2,26.515705,56.652454,26.250347,55.934387,event
3906,mtid:118764,Amsterdam - approach // port,approach,2025-10-07 17:27:39.968337+00:00,2025-10-14 14:16:27.116028+00:00,593327.0,False,2,52.528999,4.227334,52.604660,4.084888,event

## **1) public.ca_port_lifts**
for every day, stores the summed dwt for laden departures and arrivals for each port

In [246]:
port_lifts_sql = """
    SELECT
        day,
        port_id,
        port_name,
        flow_role,
        depart_dwt_laden,
        arrive_dwt_laden
    FROM public.ca_port_lifts_daily
    WHERE day >= now() - interval '14 days'
    ORDER BY day, port_id
"""

df_lifts = pd.read_sql(port_lifts_sql, engine)
df_lifts.sort_values(by='day').head(15)

,day,port_id,port_name,flow_role,depart_dwt_laden,arrive_dwt_laden
0,2025-10-07 00:00:00+00:00,Amsterdam - core // port,Amsterdam - core,import,NaN,428224.0
1,2025-10-07 00:00:00+00:00,Antwerp - core // port,Antwerp - core,import,NaN,180378.0
2,2025-10-07 00:00:00+00:00,Arthur - core // port,Arthur - core,export,175532.0,NaN
3,2025-10-07 00:00:00+00:00,Corpus Christi - core // port,Corpus Christi - core,export,119900.0,NaN
4,2025-10-07 00:00:00+00:00,Houston - core // port,Houston - core,export,332153.0,NaN
5,2025-10-07 00:00:00+00:00,Ras Tanura - core // port,Ras Tanura - core,export,NaN,NaN
6,2025-10-07 00:00:00+00:00,Rotterdam - core // port,Rotterdam - core,import,NaN,483525.0
7,2025-10-07 00:00:00+00:00,Wilhelmshaven - core // port,Wilhelmshaven - core,import,NaN,92217.0
15,2025-10-08 00:00:00+00:00,Wilhelmshaven - core // port,Wilhelmshaven - core,import,NaN,270853.0
14,2025-10-08 00:00:00+00:00,Rotterdam - core // port,Rotterdam - core,import,NaN,457074.0
13,2025-10-08 00:00:00+00:00,Ras Tanura - core // port,Ras Tanura - core,export,754888.0,NaN
12,2025-10-08 00:00:00+00:00,Houston - core // port,Houston - core,export,663513.0,NaN
9,2025-10-08 00:00:00+00:00,Antwerp - core // port,Antwerp - core,import,NaN,308350.0
10,2025-10-08 00:00:00+00:00,Arthur - core // port,Arthur - core,export,240981.0,NaN
8,2025-10-08 00:00:00+00:00,Amsterdam - core // port,Amsterdam - core,import,NaN,289759.0

## **2) public.ca_lane_transit_daily**

In [205]:
lane_transit_sql = """
    SELECT * 
    FROM public.ca_lane_transit_daily
"""
df_transits = pd.read_sql(lane_transit_sql, engine)
df_transits

,day,lane_id,lane_name,transit_cnt,laden_dwt_sum
0,2025-10-08 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,37,NaN
1,2025-10-08 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,32,NaN
2,2025-10-08 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,54,NaN
3,2025-10-08 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,5,NaN
4,2025-10-08 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,10,NaN
5,2025-10-07 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,9,NaN
6,2025-10-07 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,4,NaN
7,2025-10-07 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,34,NaN
8,2025-10-07 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,1,NaN
9,2025-10-07 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,0,NaN
10,2025-10-14 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,32,NaN
11,2025-10-14 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,23,NaN
12,2025-10-14 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,40,NaN
13,2025-10-14 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,1,NaN
14,2025-10-14 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,10,NaN
15,2025-10-10 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,43,NaN
16,2025-10-10 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,39,NaN
17,2025-10-10 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,75,470698.0
18,2025-10-10 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,2,NaN
19,2025-10-10 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,13,NaN
20,2025-10-12 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,39,NaN
21,2025-10-12 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,37,NaN
22,2025-10-12 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,68,159800.0
23,2025-10-12 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,3,NaN
24,2025-10-12 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,19,NaN
25,2025-10-09 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,40,NaN
26,2025-10-09 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,38,NaN
27,2025-10-09 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,77,NaN
28,2025-10-09 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,2,NaN
29,2025-10-09 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,15,NaN
30,2025-10-11 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,21,NaN
31,2025-10-11 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,35,NaN
32,2025-10-11 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,79,1165858.0
33,2025-10-11 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,0,NaN
34,2025-10-11 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,16,NaN
35,2025-10-13 00:00:00+00:00,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,25,NaN
36,2025-10-13 00:00:00+00:00,Gibraltar - corridor // chokepoint,Gibraltar - corridor,52,NaN
37,2025-10-13 00:00:00+00:00,Hormuz - corridor // chokepoint,Hormuz - corridor,65,NaN
38,2025-10-13 00:00:00+00:00,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,2,NaN
39,2025-10-13 00:00:00+00:00,Suez - corridor // chokepoint,Suez - corridor,15,NaN

## **3) public.mv_lane_transit_time_daily**

In [215]:
lane_transit_time_sql = """
    SELECT * 
    FROM public.mv_lane_transit_time_daily
"""
df_transit_time = pd.read_sql(lane_transit_time_sql, engine)
df_transit_time.sort_values(by=['day', 'lane_id'], ascending=False).head(10)  #[df_transit_time['lane_id'] == 'Suez - corridor // chokepoint']

,day,lane_id,transit_time_p50_s,transit_time_mean_s
34,2025-10-14 00:00:00+00:00,Suez - corridor // chokepoint,17099,18950.800000
2,2025-10-14 00:00:00+00:00,Mid-Atlantic - corridor // lane,2055,2055.000000
37,2025-10-14 00:00:00+00:00,Hormuz - corridor // chokepoint,14110,28772.400000
36,2025-10-14 00:00:00+00:00,Gibraltar - corridor // chokepoint,6734,77834.695652
35,2025-10-14 00:00:00+00:00,Cape of Good Hope - corridor // lane,75024,68749.375000
7,2025-10-13 00:00:00+00:00,Suez - corridor // chokepoint,31188,27321.600000
33,2025-10-13 00:00:00+00:00,Mid-Atlantic - corridor // lane,455,20587.000000
30,2025-10-13 00:00:00+00:00,Hormuz - corridor // chokepoint,13438,16879.507692
27,2025-10-13 00:00:00+00:00,Gibraltar - corridor // chokepoint,7204,29966.096154
29,2025-10-13 00:00:00+00:00,Cape of Good Hope - corridor // lane,72492,68251.240000

## **4) public.mv_area_occupancy_daily**

In [221]:
area_occupancy_sql = """
    SELECT * 
    FROM public.mv_area_occupancy_daily
"""
df_area_occupancy = pd.read_sql(area_occupancy_sql, engine)
df_area_occupancy.sort_values(by=['day', 'area_id'], ascending=False)

,day,area_id,avg_open_sessions
84,2025-10-14 00:00:00+00:00,Wilhelmshaven - approach // port,0.000000
11,2025-10-14 00:00:00+00:00,Rotterdam - approach // port,0.484848
48,2025-10-14 00:00:00+00:00,Ras Tanura - approach // port,0.625000
35,2025-10-14 00:00:00+00:00,LOOP - approach // port,0.000000
81,2025-10-14 00:00:00+00:00,Houston - approach // port,0.545455
...,...,...,...
46,2025-10-07 00:00:00+00:00,Corpus Christi - approach // port,0.833333
29,2025-10-07 00:00:00+00:00,Basrah // port,0.352941
72,2025-10-07 00:00:00+00:00,Arthur - approach // port,0.200000
56,2025-10-07 00:00:00+00:00,Antwerp - approach // port,0.666667
64,2025-10-07 00:00:00+00:00,Amsterdam - approach // port,0.500000

## **5) public.ca_ballast_return_daily**

In [222]:
ballast_return_sql = """
    SELECT * 
    FROM public.ca_ballast_return_daily
"""
df_ballast_return = pd.read_sql(ballast_return_sql, engine)
df_ballast_return

                         day                               lane_id ballast_dwt
0  2025-10-08 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
1  2025-10-08 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
2  2025-10-07 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
3  2025-10-07 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
4  2025-10-13 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
5  2025-10-13 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
6  2025-10-12 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
7  2025-10-12 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
8  2025-10-11 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
9  2025-10-11 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
10 2025-10-09 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
11 2025-10-09 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
12 2025-10-10 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
13 2025-10-10 00:00:00+00:00       Mid-Atlantic - corridor // lane        None
14 2025-10-14 00:00:00+00:00  Cape of Good Hope - corridor // lane        None
15 2025-10-14 00:00:00+00:00       Mid-Atlantic - corridor // lane        None

## **6) public.ca_class_mix_daily**

In [225]:
class_mix_sql = """
    SELECT * 
    FROM public.ca_class_mix_daily
"""
df_class_mix = pd.read_sql(class_mix_sql, engine)
df_class_mix.sort_values(by=['lane_id', 'day'])

,day,lane_id,dwt_vlcc,dwt_suezmax,dwt_aframax,dwt_other
5,2025-10-07 00:00:00+00:00,Cape of Good Hope - corridor // lane,1835256.0,NaN,107153.0,75774.0
0,2025-10-08 00:00:00+00:00,Cape of Good Hope - corridor // lane,3045634.0,158491.0,935634.0,774470.0
20,2025-10-09 00:00:00+00:00,Cape of Good Hope - corridor // lane,3703546.0,NaN,670493.0,820555.0
10,2025-10-10 00:00:00+00:00,Cape of Good Hope - corridor // lane,4596676.0,157528.0,1301722.0,653942.0
25,2025-10-11 00:00:00+00:00,Cape of Good Hope - corridor // lane,2168890.0,475625.0,82005.0,439696.0
15,2025-10-12 00:00:00+00:00,Cape of Good Hope - corridor // lane,2437912.0,1246408.0,1017819.0,391481.0
30,2025-10-13 00:00:00+00:00,Cape of Good Hope - corridor // lane,921036.0,306399.0,998147.0,404283.0
35,2025-10-14 00:00:00+00:00,Cape of Good Hope - corridor // lane,2389511.0,592501.0,417377.0,801789.0
6,2025-10-07 00:00:00+00:00,Gibraltar - corridor // chokepoint,NaN,NaN,82265.0,64450.0
1,2025-10-08 00:00:00+00:00,Gibraltar - corridor // chokepoint,NaN,786868.0,1075616.0,477153.0
21,2025-10-09 00:00:00+00:00,Gibraltar - corridor // chokepoint,921864.0,1724217.0,1580883.0,288988.0
11,2025-10-10 00:00:00+00:00,Gibraltar - corridor // chokepoint,NaN,639790.0,930901.0,614783.0
26,2025-10-11 00:00:00+00:00,Gibraltar - corridor // chokepoint,598948.0,629885.0,1299091.0,691362.0
16,2025-10-12 00:00:00+00:00,Gibraltar - corridor // chokepoint,635326.0,782794.0,713685.0,619180.0
31,2025-10-13 00:00:00+00:00,Gibraltar - corridor // chokepoint,299996.0,943612.0,1588719.0,763582.0
36,2025-10-14 00:00:00+00:00,Gibraltar - corridor // chokepoint,NaN,473270.0,991138.0,323986.0
7,2025-10-07 00:00:00+00:00,Hormuz - corridor // chokepoint,3376592.0,552115.0,522485.0,539221.0
2,2025-10-08 00:00:00+00:00,Hormuz - corridor // chokepoint,3059808.0,631971.0,686620.0,1256766.0
22,2025-10-09 00:00:00+00:00,Hormuz - corridor // chokepoint,5239558.0,1070561.0,804721.0,1535007.0
12,2025-10-10 00:00:00+00:00,Hormuz - corridor // chokepoint,3974763.0,917211.0,1093292.0,1678417.0
27,2025-10-11 00:00:00+00:00,Hormuz - corridor // chokepoint,5309926.0,1567601.0,805469.0,1228636.0
17,2025-10-12 00:00:00+00:00,Hormuz - corridor // chokepoint,3948307.0,472542.0,822805.0,1602242.0
32,2025-10-13 00:00:00+00:00,Hormuz - corridor // chokepoint,3395748.0,400158.0,1170766.0,1467005.0
37,2025-10-14 00:00:00+00:00,Hormuz - corridor // chokepoint,3986349.0,597490.0,382763.0,875742.0
8,2025-10-07 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,NaN,20918.0
3,2025-10-08 00:00:00+00:00,Mid-Atlantic - corridor // lane,297638.0,157632.0,184646.0,29649.0
23,2025-10-09 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,NaN,64484.0
13,2025-10-10 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,NaN,125059.0
28,2025-10-11 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,NaN,NaN
18,2025-10-12 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,289563.0,NaN
33,2025-10-13 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,82254.0,49954.0
38,2025-10-14 00:00:00+00:00,Mid-Atlantic - corridor // lane,NaN,NaN,95253.0,NaN
9,2025-10-07 00:00:00+00:00,Suez - corridor // chokepoint,NaN,NaN,NaN,NaN
4,2025-10-08 00:00:00+00:00,Suez - corridor // chokepoint,NaN,159999.0,554616.0,151882.0
24,2025-10-09 00:00:00+00:00,Suez - corridor // chokepoint,NaN,465815.0,1112545.0,87546.0
14,2025-10-10 00:00:00+00:00,Suez - corridor // chokepoint,NaN,157617.0,1036743.0,73671.0
29,2025-10-11 00:00:00+00:00,Suez - corridor // chokepoint,NaN,803238.0,906663.0,96376.0
19,2025-10-12 00:00:00+00:00,Suez - corridor // chokepoint,NaN,614290.0,1000504.0,205009.0
34,2025-10-13 00:00:00+00:00,Suez - corridor // chokepoint,NaN,317778.0,849592.0,273646.0
39,2025-10-14 00:00:00+00:00,Suez - corridor // chokepoint,NaN,162090.0,1212157.0,219966.0

In [ ]:
cargo_sql = """
    SELECT *
    FROM public.vessel_cargo_state
"""

df_cargo = pd.read_sql(cargo_sql, engine)
df_cargo

       vessel_uid  laden          confidence                       updated_ts
0    mtid:5304916   True  derived_port_enter 2025-10-07 17:25:40.886315+00:00
1    mtid:3837526   True   derived_port_exit 2025-10-07 17:41:07.099761+00:00
2    mtid:9427461  False   derived_port_exit 2025-10-14 15:28:02.309076+00:00
3    mtid:7373634   True   derived_port_exit 2025-10-07 18:24:29.128939+00:00
4     mtid:372669   True   derived_port_exit 2025-10-07 18:46:56.927061+00:00
..            ...    ...                 ...                              ...
572  mtid:6190650   True  derived_port_enter 2025-10-14 21:05:17.733122+00:00
573   mtid:410463  False  derived_port_enter 2025-10-14 22:11:27.529003+00:00
574   mtid:284234   True  derived_port_enter 2025-10-14 22:10:29.857518+00:00
575   mtid:149911   True  derived_port_enter 2025-10-14 22:28:05.569397+00:00
576   mtid:228459  False   derived_port_exit 2025-10-14 23:17:49.864422+00:00

[577 rows x 4 columns]

: