In [116]:
import pandas as pd
from sqlalchemy import create_engine, text

DB_URL = "postgresql+psycopg2://ais:aispass@localhost:5432/ais"
engine = create_engine(DB_URL)

# If you just want tabular fields (and geometry as readable text/GeoJSON):
event_sql = text("""
    SELECT *
    FROM public.ais_event
""")

df_event = pd.read_sql(event_sql, engine)
df_event

,ts,vessel_uid,event,area_id,area_kind,gate_end,lat,lon,meta
0,2025-09-30 09:57:40.792923+00:00,sat:T1RFMk5USXdPVEUyTlRJd09URTJOUT09LUd3Qk9nbV...,lane_enter,Mid-Atlantic - corridor // lane,lane,None,44.865002,-47.593334,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
1,2025-09-30 08:53:40.792923+00:00,sat:T1RrME9EWTJPVGswT0RZMk9UazBPQT09LVFUc0tjZU...,lane_enter,Mid-Atlantic - corridor // lane,lane,None,43.710899,-47.689632,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
2,2025-09-30 09:47:40.792923+00:00,sat:TkRVNU9EY3hORFU1T0RjeE5EVTVPQT09LU1BSG5lUF...,lane_enter,Mid-Atlantic - corridor // lane,lane,None,46.558228,-47.262627,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
3,2025-09-30 10:07:40.792923+00:00,sat:TlRjME1USTFOVGMwTVRJMU5UYzBNUT09LW12K3JWen...,lane_enter,Mid-Atlantic - corridor // lane,lane,None,40.623333,-46.273335,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
4,2025-09-30 10:07:40.792923+00:00,sat:TlRnMU5qa3pOVGcxTmprek5UZzFOZz09LWNzSC9qL0...,lane_enter,Mid-Atlantic - corridor // lane,lane,None,46.786667,-48.013332,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
...,...,...,...,...,...,...,...,...,...
6572,2025-10-01 19:42:58.590740+00:00,sat:TlRZNE5EZzROVFk0TkRnNE5UWTROQT09LWZOd1NrN1...,lane_enter,Cape of Good Hope - corridor // lane,lane,None,-35.597569,23.412853,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
6573,2025-10-01 19:43:58.590740+00:00,sat:TnpVeE5qZzROelV4TmpnNE56VXhOZz09LUVmc1puaH...,lane_enter,Cape of Good Hope - corridor // lane,lane,None,-35.057907,23.029896,"{'dwt': None, 'src': 'sat', 'laden': None, 'ca..."
6574,2025-10-01 19:47:01.022653+00:00,mtid:4588977,lane_enter,Hormuz - corridor // chokepoint,lane,None,26.443193,56.145485,"{'dwt': 29588, 'src': 'terrestrial', 'laden': ..."
6575,2025-10-01 19:48:01.022653+00:00,mtid:655048,lane_enter,Hormuz - corridor // chokepoint,lane,None,26.322502,56.001499,"{'dwt': 30761, 'src': 'terrestrial', 'laden': ..."
6576,2025-10-01 19:48:01.022653+00:00,mtid:6654658,approach_enter,Fujairah - approach // port,approach,None,25.211893,56.744453,"{'dwt': 312167, 'src': 'terrestrial', 'laden':..."

In [79]:
df_event["area_id"].value_counts()

area_id
Mid-Atlantic - corridor // lane         2418
Cape of Good Hope - corridor // lane    1125
Basrah // port                           205
Hormuz - corridor // chokepoint          194
LOOP - approach // port                  178
Fujairah - approach // port              174
Antwerp - approach // port               160
Houston - approach // port               150
Rotterdam - approach // port             124
Arthur - approach // port                113
Gibraltar - corridor // chokepoint       106
LOOP - core // port                       97
Suez - corridor // chokepoint             89
Arthur - core // port                     83
Ras Tanura - approach // port             65
Rotterdam - core // port                  60
Houston - core // port                    58
Amsterdam - approach // port              50
Corpus Christi - approach // port         37
Antwerp - core // port                    22
Corpus Christi - core // port             20
Amsterdam - core // port                  15
Wilhelmshaven - approach // port          12
Wilhelmshaven - core // port               8
Ras Tanura - core // port                  7
Fujairah - core // port                    1
Name: count, dtype: int64

In [120]:
ais_fix_sql = """
    SELECT ts, elapsed, shipname, shiptype, vessel_uid, src, lat, lon, sog, cog, heading, area_id_core,
       in_core, area_id_approach, in_approach, lane_id, in_lane, 
       gate_id, gate_end
    FROM public.ais_fix
    ORDER BY ts
"""
df_fixes = pd.read_sql(ais_fix_sql, engine)
df_fixes_last = df_fixes.sort_values(by=["shipname", "ts"]).drop_duplicates(subset="vessel_uid", keep="last")
df_fixes_last[(df_fixes_last['area_id_approach'] == 'Rotterdam - approach // port')]['in_core'].value_counts()

in_core
True     27
False    26
Name: count, dtype: int64

In [71]:
ais_cargo_sql = ais_fix_sql = """
    SELECT *
    FROM public.vessel_cargo_state
"""

df_cargo = pd.read_sql(ais_cargo_sql, engine)
df_cargo['laden'].value_counts()

laden
False    231
True      71
Name: count, dtype: int64

In [66]:
ais_dwell_sql = """
    SELECT * 
    FROM public.vessel_dwell_session
"""
df_dwells = pd.read_sql(ais_dwell_sql, engine)
df_dwells[df_dwells.is_open == False]

,vessel_uid,area_id,area_kind,start_ts,end_ts,duration_s,is_open,samples,first_lat,first_lon,last_lat,last_lon,source
30,mtid:8007106,Mid-Atlantic - corridor // lane,lane,2025-09-30 09:36:43.984498+00:00,2025-09-30 17:02:29.090713+00:00,26745.0,False,2,25.410051,-46.594795,24.638769,-48.423843,event
40,mtid:3867026,Cape of Good Hope - corridor // lane,lane,2025-09-30 10:10:55.574457+00:00,2025-09-30 14:20:15.513008+00:00,14960.0,False,2,-34.750252,25.122471,-34.619858,25.833866,event
47,mtid:5869281,Corpus Christi - core // port,port,2025-09-30 10:09:58.833620+00:00,2025-09-30 15:18:54.388276+00:00,18536.0,False,2,27.880632,-97.270950,27.832329,-97.035912,event
59,mtid:5775057,Corpus Christi - core // port,port,2025-09-30 10:08:58.833620+00:00,2025-09-30 16:22:18.565233+00:00,22400.0,False,2,27.820873,-97.206650,27.840351,-97.051163,event
72,mtid:688284,LOOP - core // port,port,2025-09-30 10:06:58.833620+00:00,2025-09-30 16:34:14.501650+00:00,23236.0,False,2,28.888336,-89.996765,28.875994,-89.995377,event
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,mtid:6344335,Suez - corridor // chokepoint,lane,2025-09-30 09:57:46.707746+00:00,2025-09-30 16:19:53.912086+00:00,22927.0,False,2,30.391581,32.367153,31.274660,32.359314,event
1554,mtid:297622,Amsterdam - approach // port,approach,2025-09-30 15:40:39.411019+00:00,2025-09-30 16:28:24.288644+00:00,2865.0,False,2,52.457733,3.895385,52.596565,3.975793,event
1555,mtid:7051152,Basrah // port,approach,2025-09-30 13:30:42.143986+00:00,2025-09-30 16:30:32.128626+00:00,10790.0,False,2,28.946690,49.462185,29.060560,48.987827,event
1599,mtid:6162443,Hormuz - corridor // chokepoint,lane,2025-09-30 13:21:56.286332+00:00,2025-09-30 16:39:38.727980+00:00,11862.0,False,2,26.560209,56.633678,26.276064,55.930294,event
1664,mtid:712713,Fujairah - approach // port,approach,2025-09-30 16:31:55.807586+00:00,2025-09-30 17:10:26.225123+00:00,2310.0,False,2,25.410431,56.736080,25.274178,56.778160,event

In [130]:
port_lifts_sql = """
    SELECT
        day,
        port_id,
        port_name,
        flow_role,
        depart_dwt_laden,
        arrive_dwt_laden
    FROM public.ca_port_lifts_daily
    WHERE day >= now() - interval '14 days'
    ORDER BY day, port_id
"""

df_lifts = pd.read_sql(port_lifts_sql, engine)
df_lifts

,day,port_id,port_name,flow_role,depart_dwt_laden,arrive_dwt_laden
0,2025-09-30 00:00:00+00:00,Amsterdam - core // port,Amsterdam - core,import,NaN,137540.0
1,2025-09-30 00:00:00+00:00,Antwerp - core // port,Antwerp - core,import,NaN,159378.0
2,2025-09-30 00:00:00+00:00,Arthur - core // port,Arthur - core,export,304191.0,NaN
3,2025-09-30 00:00:00+00:00,Corpus Christi - core // port,Corpus Christi - core,export,658010.0,NaN
4,2025-09-30 00:00:00+00:00,Houston - core // port,Houston - core,export,284374.0,NaN
5,2025-09-30 00:00:00+00:00,LOOP - core // port,LOOP - core,export,105715.0,NaN
6,2025-09-30 00:00:00+00:00,Ras Tanura - core // port,Ras Tanura - core,export,NaN,NaN
7,2025-09-30 00:00:00+00:00,Rotterdam - core // port,Rotterdam - core,import,NaN,1410198.0
8,2025-09-30 00:00:00+00:00,Wilhelmshaven - core // port,Wilhelmshaven - core,import,NaN,98538.0
9,2025-10-01 00:00:00+00:00,Amsterdam - core // port,Amsterdam - core,import,NaN,295163.0
10,2025-10-01 00:00:00+00:00,Antwerp - core // port,Antwerp - core,import,NaN,206258.0
11,2025-10-01 00:00:00+00:00,Arthur - core // port,Arthur - core,export,191268.0,NaN
12,2025-10-01 00:00:00+00:00,Corpus Christi - core // port,Corpus Christi - core,export,234946.0,NaN
13,2025-10-01 00:00:00+00:00,Fujairah - core // port,Fujairah - core,export,NaN,NaN
14,2025-10-01 00:00:00+00:00,Houston - core // port,Houston - core,export,755641.0,NaN
15,2025-10-01 00:00:00+00:00,LOOP - core // port,LOOP - core,export,158266.0,NaN
16,2025-10-01 00:00:00+00:00,Ras Tanura - core // port,Ras Tanura - core,export,950800.0,NaN
17,2025-10-01 00:00:00+00:00,Rotterdam - core // port,Rotterdam - core,import,NaN,530297.0
18,2025-10-01 00:00:00+00:00,Wilhelmshaven - core // port,Wilhelmshaven - core,import,NaN,304681.0

In [61]:
areas_sql = """
    SELECT *
    FROM public.area    
"""

df_areas = pd.read_sql(areas_sql, engine)
df_areas

,area_id,name,kind,subtype,group,notes,geom,flow_role
0,Cape of Good Hope - corridor // lane,Cape of Good Hope - corridor,lane,corridor,Cape of Good Hope,Captures Suez-avoidance reroutes; higher Cape ...,0103000020E610000001000000080000005BCF108E597A...,None
1,Gibraltar - corridor // chokepoint,Gibraltar - corridor,chokepoint,corridor,Strait of Gibraltar,Med-Atlantic throat; transits reflect inflow/o...,0103000020E610000001000000090000003CD9CD8C7EA4...,None
2,Hormuz - corridor // chokepoint,Hormuz - corridor,chokepoint,corridor,Strait of Hormuz,Gulf egress for ME crude; total laden exits se...,0103000020E6100000010000000600000066F4A3E19411...,None
3,Basrah // port,Basrah,port,approach,Basrah,Northern Gulf anchorage/holding feeding Basrah...,0103000020E61000000100000005000000DA8D3EE6035C...,export
4,Ras Tanura - approach // port,Ras Tanura - approach,port,approach,Ras Tanura,Gulf anchorage/pilot areas for RT; near-term p...,0103000020E6100000010000000800000064E60297C73E...,export
5,Ras Tanura - core // port,Ras Tanura - core,port,core,Ras Tanura,Ras Tanura berths + SBMs; major VLCC loadings ...,0103000020E610000001000000080000008352B4722F18...,export
6,Amsterdam - approach // port,Amsterdam - approach,port,approach,Amsterdam,North Sea Canal/IJmuiden approaches; staging i...,0103000020E6100000010000000C000000B81D1A16A3EE...,import
7,Amsterdam - core // port,Amsterdam - core,port,core,Amsterdam,Westpoort liquids (Vopak/Oiltanking); suppleme...,0103000020E610000001000000060000001E705D31238C...,import
8,Antwerp - approach // port,Antwerp - approach,port,approach,Antwerp,Westerschelde pilot/approaches; staging signal...,0103000020E6100000010000000C0000003F73D6A71C93...,import
9,Suez - corridor // chokepoint,Suez - corridor,chokepoint,corridor,Suez Canal,Measures MEâ†’Med/Europe canal transits; const...,0103000020E610000001000000050000003E7782FDD735...,None
10,Arthur - approach // port,Arthur - approach,port,approach,Arthur,Sea approaches/pilot areas to Sabine/Neches; s...,0103000020E6100000010000000A00000033F9669B1B8C...,export
11,Arthur - core // port,Arthur - core,port,core,Arthur,Sabine/Neches crude berths (Nederland/Port Art...,0103000020E610000001000000080000003161342BDB88...,export
12,Corpus Christi - approach // port,Corpus Christi - approach,port,approach,Corpus Christi,Corpus anchorage/pilot staging; leads core and...,0103000020E6100000010000000C000000126745D4445B...,export
13,Corpus Christi - core // port,Corpus Christi - core,port,core,Corpus Christi,USGC crude berth occupancy at Corpus; primary ...,0103000020E6100000010000000B0000003909A52F8449...,export
14,Houston - core // port,Houston - core,port,core,Houston,Houston Ship Channel/Texas City crude berths; ...,0103000020E6100000010000000D0000008BC3995FCDB8...,export
15,Antwerp - core // port,Antwerp - core,port,core,Antwerp,Scheldt oil berths (Kallo/Doel/Lillo); NWE cru...,0103000020E610000001000000070000008E791D71C8B6...,import
16,Mid-Atlantic - corridor // lane,Mid-Atlantic - corridor,lane,corridor,Mid-Atlantic,USGCâ†”NWE transatlantic band; traffic here le...,0103000020E61000000100000005000000AA622AFD842B...,None
17,Fujairah - approach // port,Fujairah - approach,port,approach,Fujairah,Anchorage/pilot belt incl. STS activity; conge...,0103000020E61000000100000007000000569DD5027B2C...,export
18,Fujairah - core // port,Fujairah - core,port,core,Fujairah,Fujairah oil jetties; operational hub for Gulf...,0103000020E61000000100000006000000890CAB782331...,export
19,Houston - approach // port,Houston - approach,port,approach,Houston,Galveston Bay anchorage/fairway; early read on...,0103000020E6100000010000000A000000F111312592BD...,export
20,LOOP - approach // port,LOOP - approach,port,approach,LOOP,Staging/holding around LOOP SBMs; anticipates ...,0103000020E610000001000000080000003F8D7BF31B82...,export
21,LOOP - core // port,LOOP - core,port,core,LOOP,Offshore SBMs; VLCC loadings at LOOP are a dir...,0103000020E61000000100000006000000E17A14AE4781...,export
22,Rotterdam - approach // port,Rotterdam - approach,port,approach,Rotterdam,Maas/Eurogeul anchorage and approach; leading ...,0103000020E6100000010000000C000000CA4FAA7D3ABE...,import
23,Rotterdam - core // port,Rotterdam - core,port,core,Rotterdam,MOT/VPR/TEAM crude jetties; direct NWE crude i...,0103000020E6100000010000000A000000478D09319784...,import
24,Wilhelmshaven - approach // port,Wilhelmshaven - approach,port,approach,Wilhelmshaven,Jade Bay fairway/anchorage; staging ahead of G...,0103000020E6100000010000000B000000CF6916687768...,import
25,Wilhelmshaven - core // port,Wilhelmshaven - core,port,core,Wilhelmshaven,NiedersachsenbrÃ¼cke/NWO crude berths; VLCC-ca...,0103000020E61000000100000008000000F4160FEF3910...,import

In [124]:
SQL_LATEST_FIXES = """
SELECT DISTINCT ON (vessel_uid)
  vessel_uid, ts, lat, lon, sog, cog, heading,
  shipname, shiptype, flag, length_m, width_m,
  area_id_core, area_id_approach, lane_id
FROM public.ais_fix
ORDER BY vessel_uid, ts DESC;
"""

"""
WITH latest AS (
  SELECT DISTINCT ON (vessel_uid)
         vessel_uid, area_id_core, area_id_approach, ts
  FROM public.ais_fix
  WHERE area_id_core IS NOT NULL OR area_id_approach IS NOT NULL
  ORDER BY vessel_uid, ts DESC
"""

latest_fixes = pd.read_sql(SQL_LATEST_FIXES, engine)
latest_fixes[latest_fixes['area_id_core'] == 'Amsterdam - core // port']

,vessel_uid,ts,lat,lon,sog,cog,heading,shipname,shiptype,flag,length_m,width_m,area_id_core,area_id_approach,lane_id
87,mtid:159543,2025-10-01 10:20:15.665166+00:00,52.453415,4.678313,8.0,131.0,132.0,FRANK,8,GI,147.0,22.0,Amsterdam - core // port,Amsterdam - approach // port,None
321,mtid:327186,2025-10-01 01:00:18.954765+00:00,52.445702,4.692042,8.0,133.0,132.0,ASTINA,8,SE,129.0,19.0,Amsterdam - core // port,Amsterdam - approach // port,None
324,mtid:327457,2025-10-01 19:37:30.724620+00:00,52.463181,4.655982,7.1,294.0,290.0,FURE SKAGEN,8,FO,144.0,23.0,Amsterdam - core // port,Amsterdam - approach // port,None
397,mtid:374054,2025-10-01 20:43:40.425852+00:00,52.405537,4.824557,0.1,253.0,270.0,SOHO SQUARE,8,LR,249.0,16.0,Amsterdam - core // port,Amsterdam - approach // port,None
1034,mtid:754477,2025-10-01 19:59:25.967446+00:00,52.449123,4.686167,7.6,131.0,130.0,KRITI BAY,8,LR,183.0,32.0,Amsterdam - core // port,Amsterdam - approach // port,None
1101,mtid:7801970,2025-10-01 00:50:05.923693+00:00,52.449699,4.684983,9.8,131.0,131.0,BOW LEOPARD,8,SG,156.0,25.0,Amsterdam - core // port,Amsterdam - approach // port,None
1122,mtid:8419847,2025-10-01 18:40:26.124890+00:00,52.442940,4.697373,7.8,132.0,132.0,APATYTH,8,CY,117.0,17.0,Amsterdam - core // port,Amsterdam - approach // port,None
1255,mtid:9480251,2025-10-01 14:51:34.557412+00:00,52.437248,4.708360,7.6,123.0,125.0,OSTRO I,8,MT,149.0,23.0,Amsterdam - core // port,Amsterdam - approach // port,None

In [115]:
df_fixes[df_fixes['area_id_approach'] == 'Rotterdam - approach // port'].drop_duplicates(subset="vessel_uid")

,ts,elapsed,shipname,shiptype,vessel_uid,src,lat,lon,sog,cog,heading,area_id_core,in_core,area_id_approach,in_approach,lane_id,in_lane,gate_id,gate_end
207,2025-09-30 10:12:33.504439+00:00,6,SOVEREIGN,8,mtid:5448313,terrestrial,51.955204,4.151938,0.0,NaN,NaN,Rotterdam - core // port,True,Rotterdam - approach // port,True,None,False,None,None
246,2025-09-30 10:14:33.504439+00:00,4,DAN CISNE,8,mtid:156876,terrestrial,52.169670,4.222000,0.0,235.0,243.0,None,False,Rotterdam - approach // port,True,None,False,None,None
248,2025-09-30 10:14:33.504439+00:00,4,MARAN ARTEMIS,8,mtid:4045503,terrestrial,51.920959,4.202008,0.0,238.0,0.0,Rotterdam - core // port,True,Rotterdam - approach // port,True,None,False,None,None
274,2025-09-30 10:15:33.504439+00:00,3,NQ LILIUM,8,mtid:288067,terrestrial,51.926250,3.794533,0.0,356.0,260.0,None,False,Rotterdam - approach // port,True,None,False,None,None
277,2025-09-30 10:15:33.504439+00:00,3,SEYCHELLES PRELUDE,8,mtid:763546,terrestrial,52.131950,3.628548,0.3,243.0,20.0,None,False,Rotterdam - approach // port,True,None,False,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47109,2025-10-01 14:08:13.240890+00:00,2,RLO MERCHANT,8,mtid:284584,terrestrial,52.048038,3.449658,11.1,267.0,270.0,None,False,Rotterdam - approach // port,True,None,False,None,None
47365,2025-10-01 14:19:10.290539+00:00,5,ASIA LIBERTY,8,mtid:5887664,terrestrial,52.134220,3.684987,0.4,200.0,117.0,None,False,Rotterdam - approach // port,True,None,False,None,None
47812,2025-10-01 14:31:19.349872+00:00,3,SONGA TAURUS,8,mtid:288159,terrestrial,51.970215,4.135250,11.3,307.0,306.0,Rotterdam - core // port,True,Rotterdam - approach // port,True,None,False,None,None
49764,2025-10-01 15:30:39.188421+00:00,3,CAROLINE A,8,mtid:282116,terrestrial,51.963421,3.644363,10.1,59.0,60.0,None,False,Rotterdam - approach // port,True,None,False,None,None
51015,2025-10-01 16:18:17.487737+00:00,2,GISELA ESSBERGER,8,mtid:283910,terrestrial,51.969246,4.137340,11.1,304.0,303.0,Rotterdam - core // port,True,Rotterdam - approach // port,True,None,False,None,None

In [126]:
df_fixes[df_fixes['shipname'] == "NAVIGATOR GUSTO"]

,ts,elapsed,shipname,shiptype,vessel_uid,src,lat,lon,sog,cog,heading,area_id_core,in_core,area_id_approach,in_approach,lane_id,in_lane,gate_id,gate_end
28783,2025-10-01 03:42:08.202073+00:00,3,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.276421,2.246747,13.3,59.0,58.0,None,False,None,False,None,False,None,None
30195,2025-10-01 04:33:42.180654+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.365692,2.517315,13.6,76.0,82.0,None,False,Antwerp - approach // port,True,None,False,None,None
30499,2025-10-01 04:44:22.143218+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.365868,2.577758,13.5,90.0,92.0,None,False,Antwerp - approach // port,True,None,False,None,None
30626,2025-10-01 04:47:03.982094+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.365810,2.583873,13.6,90.0,92.0,None,False,Antwerp - approach // port,True,None,False,None,None
31678,2025-10-01 05:26:18.222855+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.364086,2.764710,11.1,88.0,90.0,None,False,Antwerp - approach // port,True,None,False,None,None
31768,2025-10-01 05:28:04.288081+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.364162,2.769772,11.1,88.0,90.0,None,False,Antwerp - approach // port,True,None,False,None,None
31916,2025-10-01 05:34:18.736164+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.364567,2.826597,14.6,88.0,90.0,None,False,Antwerp - approach // port,True,None,False,None,None
32042,2025-10-01 05:38:27.468700+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.364635,2.833173,14.6,88.0,90.0,None,False,Antwerp - approach // port,True,None,False,None,None
32224,2025-10-01 05:44:38.425813+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.366615,2.891948,14.6,76.0,76.0,None,False,Antwerp - approach // port,True,None,False,None,None
32411,2025-10-01 05:48:26.550012+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.367641,2.898147,14.5,73.0,75.0,None,False,Antwerp - approach // port,True,None,False,None,None
32623,2025-10-01 05:54:37.221586+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.378857,2.954612,14.8,62.0,61.0,None,False,Antwerp - approach // port,True,None,False,None,None
32752,2025-10-01 05:56:23.412763+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.380806,2.960257,14.6,60.0,60.0,None,False,Antwerp - approach // port,True,None,False,None,None
32991,2025-10-01 06:04:24.664351+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.397678,3.006648,11.8,57.0,58.0,None,False,Antwerp - approach // port,True,None,False,None,None
33217,2025-10-01 06:13:55.287509+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.407127,3.050782,11.6,101.0,108.0,None,False,Antwerp - approach // port,True,None,False,None,None
33607,2025-10-01 06:25:37.878145+00:00,1,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.397346,3.113622,12.6,102.0,105.0,None,False,Antwerp - approach // port,True,None,False,None,None
33713,2025-10-01 06:27:04.875436+00:00,2,NAVIGATOR GUSTO,8,mtid:755920,terrestrial,51.396599,3.118915,12.3,102.0,105.0,None,False,Antwerp - approach // port,True,None,False,None,None

HOW DOES SELECT DISTINCT ON WORK